workflows/My workflow.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-22T17:55:33.702Z",
  "id": "dqJGwkwFUpuD46Mz",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "workflowId": "LhTQ8ogj1rrBFmLw"
      },
      "id": "51f76d3a-42f8-4bdc-b4ac-dd78ce747aba",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AddCardToTrello",
        "options": {}
      },
      "id": "33965361-95b4-41ab-8c91-deceaf719532",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        560
      ],
      "webhookId": "cda76934-a01d-4e03-8f0c-0a024e49c2ae"
    },
    {
      "parameters": {
        "listId": "={{ $json.id }}",
        "name": "={{ $('Webhook').item.json.body.name }}",
        "additionalFields": {}
      },
      "id": "9a0262ec-8757-4529-ab10-d051114f13f2",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1080,
        560
      ],
      "credentials": {
        "trelloApi": {
          "id": "bM93I4KXlkUWTuue",
          "name": "Trello account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-22T21:00:27.000Z",
  "versionId": "637a9a4a-509f-43bd-aaa3-d89166ca1ed2"
}