workflows/Send to Logger.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-06T01:55:44.892Z",
  "id": "9kPBrLvrvDvCatWX",
  "name": "Send to Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f5c4f9e-3324-47ea-b89a-818108974d26",
        "options": {}
      },
      "id": "5a4bfd56-708f-4bc8-b32f-cadd954fd1ec",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -20,
        420
      ],
      "webhookId": "2f5c4f9e-3324-47ea-b89a-818108974d26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Log%20Message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"{{  encodeURIComponent( JSON.parse($json.body.data).msg) }}\",\"title\":{{$json.query.app}}, \"tag\": {{$json.query.app}}} "
            }
          ]
        },
        "options": {}
      },
      "id": "9959e059-d0e6-423f-885b-f13d5825b0bb",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "value2": "\"\""
            }
          ]
        }
      },
      "id": "37ca8303-a051-45ee-99b2-f8f4c08fb671",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "userKey": "QHZisq8iJ7ER6llndDxDcJBIrvkQo5",
        "message": "Send To Logger failed",
        "priority": 0,
        "additionalFields": {}
      },
      "id": "459247d0-955c-4a8a-8b61-79d90ef454fc",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        780,
        560
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "command": "=logger -p syslog.info --tag={{ $json.query.app.replace(' ','-') }} {{ JSON.parse($json.body.data).msg }}"
      },
      "id": "e132b635-ed56-4bcc-ba19-58e548c40109",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        280,
        740
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-06T01:56:31.000Z",
  "versionId": "bb9469b3-6fcf-4896-8faa-9d1a4b2458e8"
}