workflows/Send to Logger.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-19T13:44:46.950Z",
  "id": "gHc1fYvqTd6n85DY",
  "name": "Send to Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f5c4f9e-3324-47ea-b89a-818108974d26",
        "options": {}
      },
      "id": "aae5d419-bcf8-4d0b-bce2-18033af42166",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        980,
        220
      ],
      "webhookId": "2f5c4f9e-3324-47ea-b89a-818108974d26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Log%20Message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"{{  encodeURIComponent( JSON.parse($json.body.data).msg) }}\",\"title\":{{$json.query.app}}, \"tag\": {{$json.query.app}}} "
            }
          ]
        },
        "options": {}
      },
      "id": "bcf6a2b2-4964-47da-891b-3c13658b1535",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "value2": "\"\""
            }
          ]
        }
      },
      "id": "ab8f8036-eae4-4ce4-8d7a-e0f6aec9f8f0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "userKey": "QHZisq8iJ7ER6llndDxDcJBIrvkQo5",
        "message": "Send To Logger failed",
        "priority": 0,
        "additionalFields": {}
      },
      "id": "dae0220b-162c-4029-8472-823dc32cdedf",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1780,
        360
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "command": "=logger -p syslog.info --tag={{ $json.query.app.replace(' ','-') }} {{ JSON.parse($json.body.data).msg }}"
      },
      "id": "94c7096f-e252-48c1-a749-3df6b0aea153",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        540
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-07-19T13:44:46.950Z",
  "versionId": "305e8d05-f3e5-40a5-bb43-0306c50090f2"
}