workflows/Summarize Email.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Get Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello": {
      "main": [
        []
      ]
    },
    "Get Labels": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-06T02:52:31.697Z",
  "id": "4PjVyZ0s9fUEz9TS",
  "name": "Summarize Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "id": "62bbf27d-7c52-48dd-aea6-045423c74cbb",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        420,
        480
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "content": "=Analyze, summarize and prioritize the following email message {\"email-message\":\"{{ $json.snippet.trim() }}\" } from \"{{ $json.From}}\" and respond only an JSON object with the following fields: {\"summary\": (add your summary here), \"from\": \"{{$json.From}}\", \"to\":\"{{$json.To }}\", \"subject\":\"{{$json.Subject }}\", \"thedate\": \"{{ Date($json.internalDate) }}\", \"priority\": (add priority between Low, Medium, High here)}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {}
      },
      "id": "3e4472b6-7031-4b42-be07-3d15997cd943",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        640,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "UUoOav7Fb7ZqS5VR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "listId": "64a77cf5678be1c2e20cc86d",
        "name": "={{ $('Gmail Trigger').item.json.From }}",
        "description": "=Received: {{ Date($('Gmail Trigger').item.json.internalDate) }}\n\nSubject:{{ $('Gmail Trigger').item.json.Subject }}\n\nSummary: {{ JSON.parse($('OpenAI').item.json.choices[0].message.content).summary }}\n\nLabels: {{ $jmespath($('Gmail Trigger').item.json.labels,'[*].name') }} ",
        "additionalFields": {
          "pos": "top",
          "idLabels": "={{ $json.labelid }}"
        }
      },
      "id": "87646907-879e-4baa-9496-62efdeda3e4c",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1260,
        560
      ],
      "credentials": {
        "trelloApi": {
          "id": "pj4rLCxI0ZjqkuwR",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "boardId": {
          "__rl": true,
          "value": "59b092c86abf74bd9de64a98",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://trello.com/b/r3MmDcm0/personal"
        },
        "additionalFields": {}
      },
      "id": "24518e77-16cd-45e6-bff3-5472c6cdf6fe",
      "name": "Get Labels",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        820,
        500
      ],
      "credentials": {
        "trelloApi": {
          "id": "pj4rLCxI0ZjqkuwR",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst tmpreturn = [];\nconst txtpriority = JSON.parse($('OpenAI').item.json.choices[0].message.content).priority;\n\nfor (const item of $input.all()) {\n  console.log();\n  if (item.json.name == txtpriority ) \n  {\n    tmpreturn.push({\n      \"json\":\n        {\n          \"labelname\": item.json.name,\n          \"labelid\": item.json.id\n        },\n      \"pairedItem\": item.pairedItem.item\n    } )   \n  }\n}\nreturn tmpreturn;"
      },
      "id": "a853dad6-e05e-4fca-b1ed-33bc6deab82c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1060,
        560
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Gmail Trigger": {
      "possibleDuplicates": [
        "189457e67a2cce65"
      ],
      "lastTimeChecked": 1689088055
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-11T15:10:52.000Z",
  "versionId": "b9851345-b01c-4714-acad-53643d463dd8"
}