workflows/Trello Card from Calendar Event.json
{
  "active": true,
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-04-03T21:01:16.192Z",
  "id": "2",
  "name": "Trello Card from Calendar Event",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "ahernandezr@gmail.com",
          "mode": "list",
          "cachedResultName": "Gmail"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "3e91f07b-77a9-49db-b0ab-ddfbd8e79ee3",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        280,
        580
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "QHZisq8iJ7ER6llndDxDcJBIrvkQo5",
        "message": "=Event: {{ $json.summary }}\nOrganizer: {{ $json.organizer.displayName }} <{{ $json.organizer.email }}>\nStarts: {{ DateTime.fromISO($json.start.dateTime).setZone('America/Mexico_City').format('fff') }}\nEnds: {{ DateTime.fromISO($json.end.dateTime).setZone('America/Mexico_City').format('fff') }}",
        "priority": 0,
        "additionalFields": {
          "title": "New Event Scheduled",
          "url": "={{ $json.htmlLink }}",
          "url_title": "Event Link"
        }
      },
      "id": "668c723d-9324-4ba5-824c-5c91315246ec",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        940,
        360
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Log%20Message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"Trello card created:  {{$node['Google Calendar Trigger'].json.summary }}\",\"title\":\"New Trello Card from Calendar Event\", \"tag\":\"n8n\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d9fc158-eb3f-4656-ba4f-0035b3d8e083",
      "name": "Log Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Send%20To%20Trello",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"{{$node['Google Calendar Trigger'].json.summary}}\", \"startdate\":\"{{$node['Google Calendar Trigger'].json.start.dateTime}}\"}\n "
            }
          ]
        },
        "options": {}
      },
      "id": "78142665-c399-4807-afda-4cfd545d2440",
      "name": "Send to Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        620,
        200
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2023-06-23T11:33:12Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-23T11:33:15.000Z",
  "versionId": "a9b5252a-4a7f-4125-9a6e-f240e4458a10"
}