workflows/Trello Card from Calendar Event.json
{
  "active": true,
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-05T08:41:51.130Z",
  "id": "1",
  "name": "Trello Card from Calendar Event",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "ahernandezr@gmail.com",
          "mode": "list",
          "cachedResultName": "Gmail"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "id": "06f6ce14-b821-4d40-80bc-ebdef3bdf619",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        700
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DAeGux3sS3dHjuNl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "QHZisq8iJ7ER6llndDxDcJBIrvkQo5",
        "message": "=Event: {{ $json.summary }}\nOrganizer: {{ $json.organizer.displayName }} <{{ $json.organizer.email }}>\nStarts: {{ DateTime.fromISO($json.start.dateTime).setZone('America/Mexico_City').format('fff') }}\nEnds: {{ DateTime.fromISO($json.end.dateTime).setZone('America/Mexico_City').format('fff') }}",
        "priority": 0,
        "additionalFields": {
          "title": "New Event Scheduled",
          "url": "={{ $json.htmlLink }}",
          "url_title": "Event Link"
        }
      },
      "id": "b329c8db-ef8a-4fec-b4f0-269ac2570085",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        780,
        620
      ],
      "credentials": {
        "pushoverApi": {
          "id": "1",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Log%20Message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"Trello card created:  {{$node['Google Calendar Trigger'].json.summary }}\",\"title\":\"New Trello Card from Calendar Event\", \"tag\":\"n8n\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "841515f0-eb70-43b9-b30c-71a953794d62",
      "name": "Log Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        740,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushcut.io/B6es7yetQzC164TgMjply/execute?shortcut=Send%20To%20Trello",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={\"message\":\"{{$node['Google Calendar Trigger'].json.summary}}\", \"startdate\":\"{{$node['Google Calendar Trigger'].json.start.dateTime}}\"}\n "
            }
          ]
        },
        "options": {}
      },
      "id": "d5b23422-0464-4b9b-9ea2-090ad79ca9b2",
      "name": "Send to Trello",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2023-07-13T00:39:37Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-13T00:39:38.000Z",
  "versionId": "aa56e5a4-1414-41a5-9abc-cb3d33f7eaf5"
}